body {
  background-color: crimson;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-quote {
  padding: 5px 20px;
  text-align: center;
  color: floralwhite;
  max-width: 800px;
}
h1 {
  padding: 10px 20px;
  text-align: center;
  color: floralwhite;
  max-width: 800px;
  font-family: ;
}

h2 {
  font-weight: bold;
  color: floralwhite;
}

.recipe-background {
  background-color: darkseagreen;
  padding: 10px 20px;
  border-radius: 20px;
  display: block;
  margin: 8px;
  max-width: 800px;
}
img {
  display: block;
  margin: 0 auto;
  width: 300px;
  border-radius: 20px;
}

.ingredient-title {
  font-weight: bold;
}

.recipe-container {
  display: flex;
}

ul {
  list-style-type: none;
  line-height: 20px;
  font-size: 15px;
  text-align: left;
}

footer {
  font-size: small;
  color: floralwhite;
  text-align: center;
  max-width: 800px;
  padding: 10px 5px;
}
a {
  color: floralwhite;
}
